{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="poll-container">
    <form action="{% url 'polls:vote' question.id %}" method="post" class="poll-form">
        {% csrf_token %}
        <fieldset class="poll-fieldset">
            <legend>
                <h1 class="poll-question">{{ question.question_text }}</h1>
            </legend>
            
            {% if error_message %}
                <p class="error-message"><strong>{{ error_message }}</strong></p>
            {% endif %}
            
            <div class="poll-options">
                {% for choice in question.choice_set.all %}
                    <div class="poll-option">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        
        <button type="submit" class="poll-submit">Vote</button>
    </form>
</div>
